{
  "compact": true,
  "minified": true,
  "sourceMap": true,
  "comments": false,
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": "commonjs",
        "targets": {
          "node": "current"
        },
        "exclude": ["@babel/plugin-transform-regenerator"]
      }
    ],
    "@babel/preset-flow"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-async-to-generator",
      {
        "module": "bluebird",
        "method": "coroutine"
      }
    ],
    "@babel/plugin-syntax-flow"
  ]
}
